.intro {
  margin-bottom: 1em;
}

.thanks {
  background-color: white;
  padding: 2em 1em;
  border-radius: 10px;
  text-align: center;
}

.thankyou,
.res {
  margin-bottom: 0.5em;
}



.thanks {
  max-width: 360px;
  width: 90%;
}
@media (min-width: 60rem) {

  .info {
    text-align: left;
  }

  .intro {
    text-align: left;
  }


}