@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Noto+Serif+Georgian&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img,
figure,
body {
  padding: 0;
  margin: 0;

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

body,
#root,
.App {
  width: 100%;
  min-height: 100vh;
  font-family: 'Noto Serif Georgian', serif;
}

.App {
  background-color: hsl(240, 33%, 95%);
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 900px;

}

img {
  max-width: 100%;
  display: block;
}

p {
  font-family: 'Noto Serif Georgian', serif;
}

.mobile-navigation {
  background-image: url("../images/icon-hamburger.svg");
  height: 25px;
  width: 25px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 1rem;
  right: 1rem;
  filter: brightness(10%);
}

.mobile-navigation[aria-expanded="true"] {
  background-image: url("../images/icon-close.svg");
}

nav {
  background-color: hsl(221, 98%, 57%);
  position: fixed;
  width: 50%;
  height: 100%;
  transform: translateY(0%);
  transition: 1000ms ease-in-out;
  flex-direction: column;
  top: -100%;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  overflow-y: scroll;
}

nav[data-visible="true"] {
  display: flex;
  transform: translateY(100%);


}

.title {
  padding-top: 2em;
  margin-bottom: 2em;
  font-family: 'Leckerli One', cursive;
  font-weight: 200;
}


ul {
  list-style: none;
  padding: 2em;
}

li {
  margin-bottom: 1em;
}

ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #fff;
  cursor: pointer;
  padding: 0;
  padding-right: .2em;
}

ul svg {
  padding: 0.2em 0;
  font-size: 1.5em;
}

ul span {
  font-size: 10px;

}



@media (min-width:60rem) {


  .mobile-navigation {
    display: none;
  }

  nav {
    transform: translateY(100%);
    max-width: 100px;
  }

  .nav-name {
    display: none;
  }

  ul a:hover {
    background-color: hsl(229, 78%, 31%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(24, 22, 44, 0.5);
  }

  nav:hover {
    max-width: 170px;
  }

  nav:hover .nav-name {
    transition-delay: 0.5s;
    display: block;
    transition-delay: 0.5s;
  }
}