.avatar {
  background-color: hsl(52, 27%, 38%);
  border-radius: 50%;
  width: 190px;
  display: inline;
}
#home {
  text-align: center;
  margin: 2em 0;
}
.intro{
  margin-bottom: 1em;
}
.uppercase {
  text-transform: uppercase;
}
.social {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.resume {
  padding: 0.7em 1em;
  border-radius: 25px;
  border: 0;
  background-color: hsl(240, 84%, 38%);
  color: hsl(240, 18%, 93%);

  cursor: pointer;
}
.name{
  color: hsl(221, 98%, 57%);
  font-weight: 700;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.icons a {
  /* color: hsl(240, 84%, 38%); */
   color: hsl(221, 98%, 57%);
  cursor: pointer;
  background-color: white;
  padding: 0.2em 0.5em 0em 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: justify;
}
.margin{
margin-bottom: 3em;  
}
.project{
  margin-bottom: 1em;
}
.abt {
  margin-bottom: 2em;
   font-family: 'Leckerli One', cursive;
}

.skill-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: baseline;
  text-align: center;
  gap: 1em;
}
.skill-set img {
  display: inline;
}

#work article {
  margin-bottom: 3em;
}
.project img {
  /* max-height: 350px; */
  border-radius: 10px;
}
.tech-con {
  display: flex;
  align-items: center;
}

h4 {
  text-transform: capitalize;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link {
  display: flex;
  gap: 1em;
}
.ga{
gap: .1em;
}
.desc {
  margin: 1em 0;
  font-family: 'Noto Serif Georgian', serif;
}
.thanks {
  margin-top: 5em;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}
.thankyou {
  margin-bottom: 0.5em;
  /* font-size: 22px; */
}
.home {
  padding: 0.5em;
  /* border-radius: 10px; */
  border: 0;
  margin-top: 2em;
}
#contact p {
  margin-bottom: 1em;
}
#contact form {
  padding: 1em;
}
#contact input {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 0;
}
textarea {
  border-radius: 10px;
}
.submit {
  background-color: hsl(221, 98%, 57%);
  cursor: pointer;
  /* background-color: blue; */
  color: white;
  margin-top: 2em;
}
.submit:hover{
  background-color: hsl(221, 66%, 14%);
  transition: 500ms ease-in-out;
}
.icons a:hover{
    color: hsl(221, 92%, 23%);
  transition: 500ms ease-in-out;
}
@media (min-width: 40rem) {
  .skill-set {
    grid-template-columns: repeat(4, 1fr);
  }
  #work article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-align: right;
  }
  .tech-con,
  .link {
    justify-content: flex-end;
  }
}
@media (min-width: 60rem) {
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* align-items: center; */
  }
  .info {
    text-align: left;
  }
  .intro {
    text-align: left;
  }
  .skill-set {
    grid-template-columns: repeat(6, 1fr);
  }
  .mobile-navigation {
    display: none;
  }
  nav {
    transform: translateY(100%);
    max-width: 100px;
  }
  .nav-name {
    display: none;
  }
  ul a:hover {
    background-color: hsl(229, 78%, 31%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(24, 22, 44, 0.5);
  }
  nav:hover {
    max-width: 170px;
  }
  nav:hover .nav-name {
    transition-delay: 0.5s;
    display: block;
    transition-delay: 0.5s;
  }
  #contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  main {
    overflow: hidden;
    margin-left: 5em;
  }
  .project{
    margin-bottom: 0;
  }
}
/* transition: 500ms ease-in-out; */
