.avatar {
  background-color: hsl(52, 27%, 38%);
  border-radius: 50%;
  width: 190px;
  display: inline;
}
#home {
  text-align: center;
  margin: 2em 0;
}
.uppercase {
  text-transform: uppercase;
}
.social {
  margin-top: 1em;
}
.resume {
  padding: 0.7em 1em;
  border-radius: 25px;
  border: 0;
  background-color: hsl(240, 84%, 38%);
  color: hsl(240, 18%, 93%);
  margin-bottom: 2em;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.icons a {
  color: hsl(240, 84%, 38%);
  cursor: pointer;
}
#about{
    margin-bottom: 3em ;
}
.abt{
    margin-bottom: .5em;
}
#skills{
    margin-bottom: 3em ; 
}
.skill-set{
display: grid;
grid-template-columns: repeat(3,1fr);

align-items:baseline;
text-align: center;
gap: 1em;
}
.skill-set img{
    display: inline;
}
.project{
  margin-bottom: 2em;
}
#work article{
  margin-bottom: 3em; 
}
.project img{
    /* max-height: 350px; */
    border-radius: 10px;
}
h4{
  text-transform:capitalize;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
